﻿$primary: #235892;

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a {
    color: $primary;
}

thead > tr > td, .headerConatiner, .footerContainer {
  background: lightgray;
  border: 1px solid white;
}

.headerConatiner, .footerContainer {
  margin-left: 0px;
  margin-right: 0px;
}

.itemPerPage {
  width: 70px;
}

.searchArea {
  float: right;
  width: 293px;
}

.headerConatiner > .col-sm-8 {
  padding-right: 0;
}

.showOption {
  width: 80px;
}

.showResult > h4 {
    color: #0000ff;
    background: white;
}

.fa {
    display: inline;
}

.fa {
    display: inline;
}