﻿@section Scripts {
    <script src="/Content/app.js"></script>
   
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="/release/ui-grid.js"></script>
    <script src="/release/ui-grid.css"></script>
    }

<div ng-app="Report" ng-controller="ReportController">
	
    <h1>View QPL List</h1>
    
    <div class="row headerConatiner">
        <div class="col-sm-1" >
            <h4>Show</h4>
        </div>
        <div class="dropdown col-sm-1">   
            <select class="form-control showOption" ng-model="showModel" ng-options="x.name for x in showOption" ng-change ="showUpdate()"></select>   
        </div>   
        <div class="col-sm-1">
            <div class="form-control  showResult">
                <label>{{showModel.name}}</label>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="input-group searchArea">
                <input type="text" class="form-control" ng-model="searchValue" placeholder="Search&hellip;">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
            
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead> 
            <tr>
                <td >        
                    <span>Part Number </span>
                    <i class="fa fa-sort-desc"></i> 
                </td>
                <td>
                    <span>Part Revision</span> 
                     <i class="fa fa-sort-desc"></i>
                </td>
                <td>
                    <span>Part Name </span>
                    <i class="fa fa-sort-desc"></i>
                </td>
                <td>
                    <span>Tool/ Die Set Number </span>
                    <i class="fa fa-sort-desc"></i>
                </td>
                <td>
                    <span>QPL</span>   
                    <i class="fa fa-sort-desc"></i> 
                </td>
                <td>
                    <span>Open PO </span> 
                    <i class="fa fa-sort-desc"></i>         
                </td>
                <td>
                    <span>Part Jurisdiction</span>
                    <i class="fa fa-sort-desc"></i>   
                </td>
                <td>
                    <span>Part Classification </span>
                    <i class="fa fa-sort-desc"></i>       
                </td>
                <td>
                    <span>Supplier Company Name </span> 
                    <i class="fa fa-sort-desc"></i>            
                </td>
                <td>
                    <span>Supplier Company Code </span>
                    <i class="fa fa-sort-desc"></i>              
                </td>
                <td>
                    CTQ  
                    <i class="fa fa-sort-desc"></i>          
                </td>
                <td>
                    <span> QPL Last Updated By  </span>
                    <i class="fa fa-sort-desc"></i>
                </td>
                <td>
                    <span> QPL Last Updated Date</span>
                    <i class="fa fa-sort-desc"></i> 
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in data.Results">
                <td> {{item.PartNumber}}</td>
                <td>{{item.PartRevision}}</td>
                <td> {{item.PartName}}</td>
                <td>{{item.ToolDieSetNumber}}</td>
                <td>{{item.QPL}}</td>
                <td>{{item.OpenPO}}</td>
                <td> {{ item.PartJurisdiction}}</td>
                <td>{{ item.PartClassification}}</td>
                <td>{{ item.SupplierCompanyName}}</td>
                <td>{{item.SupplierCompanyCode}}</td>
                <td>{{ item.CTQ }}</td>
                <td>{{item.QPLLastUpdatedBy}}</td>
                <td>{{item.QPLLastUpdatedDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row footerContainer form-control">
        <div class="col-sm-3">
            <div>
                <a><span ng-click="getFirstPage()" class="glyphicon glyphicon-step-backward"></span></a>
                <a><span ng-click="getPreviousPage()" class="glyphicon glyphicon-chevron-left"></span></a>

                <span class="pageNumberVal">
                    {{data.PageNumber}}
                </span>

                <a ng-click="getNextPage()"><span class="glyphicon glyphicon-chevron-right"></span></a>
                <a ng-click="getLastPage()"><span class="glyphicon glyphicon-step-forward"></span></a>
            </div>
        </div>
        
        <div class="col-sm-3"> 
            <select class="showOption" ng-model="sizeValue" ng-options="item for item in itemsPerPage" ng-change ="pageSizeChange()"></select>
            <label>items per page </label>
        </div>

        <div class="col-sm-6">
            No items to display
        </div>
    </div>
</div>